
body{
    text-align: center;
    background-color: lightpink;
    color: mediumvioletred;
}
.main-content {
    background-color: #f8cce0; 
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}

ol {
  list-style-position: inside; /* Puts the numbers inside the content box */
  padding-left: 0;             /* Remove default left padding */
  text-align: center;           /* Centers the numbers and text */
}

h1{
    text-decoration: underline;
}

h2{
    font-weight: bold !important;
    color: rebeccapurple;
    font-family: fantasy;
}

h3{
    color:purple;
}

.imagestephen{
    width: 10%;
    left: 0;
    right: 0;
}

a{
    font-size: large;
    color:deeppink;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: rebeccapurple;
    text-decoration: underline;
}

.header{ 
    background-color: pink;
    padding: 20px; 
}

.footer {
    background-color:pink;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 2px solid #f8cce0;
}